*, *::before, *::after {
    box-sizing: border-box;
} 
 body{
    margin: 0px;
}
.card-balance{
    width: 272px;
} 
.centralCard {
    width: 60%;
}

.categorySpan {
    background-color: #ebfffc;
    color: #00947e;
    padding: 5px;
    border-radius: 7px;
    font-size: 12px;
}

.display-none {
    display: none;
}

.card-operation{
    width:642px;
    min-height: 600px;
}

.btn-link{
    padding: 0;
    text-decoration: none;
   
}
.btn-link:hover{
  color: black;
}
.card-filters{
    width: 272px;
    height: 305px;
}
.card-hide{
    min-width: 266px;
    min-height: 96px;
}
.card-newOp{
    min-width: 765px;
    min-height: 600px;
}

.cardTitle {
    font-size: 42px;
    font-weight: bold;
    padding: 10px;
}
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #198754;
    border-radius: 20px;
}

.navbarSupportedContent_responsive {
    position: absolute;
    z-index: 2;
    right: 0;
    background-color: #198754;
    border-radius: 7px;
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus {
    box-shadow: none;
}


@media (max-width: 990px){

    .container{
       display: flex;
       justify-content: center;
       align-items: center;
    } 

    
    .card-balance, .card-filters, .card-operation{
        width: 600px;
        margin: auto;
    }

    .card-operation {    
        margin-top: 10px !important;
    }
}

@media (max-width: 1100px){
    .card-operation{
        width:600px;
    }
}

@media (max-width: 720px){
    .card-operation, .card-balance, .card-filters {
        width:500px;
        margin: auto;
    }

    .card-newOp {
        min-width:500px;
    }
}

@media (max-width: 576px){
    .card-operation, .card-balance, .card-filters, .card-newOp{
        width:270px;
        padding: 10px !important;
    }

   #btnNewOp_responsive {
        display: block !important;
   }

   .card-newOp {
        min-width:270px;
    }

   #btnNewOperation {
        display: none;
   }

   #operationTable tr > td {
    padding: 0 10px;
   }

}


